.light-theme {
    background-color: white;
    color: black;
}

.dark-theme {
    background-color: black;
    color: white;
}


.todo {
    background-color: red;
    height: 610px;
    width: 60%;
    margin-left: 20%;
}


.todo-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.todo-add-button {
    margin-left: 200px;
}

.todo-heading {
    padding: 10px 0 10px 10px;
    background: rgb(148, 148, 227);
}



.background-image {
    background-image: url('../assets/img/bg-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 35vh;
    /* position: relative; */
}

.overlay-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    /* background-color: rgba(255, 255, 255, 0.416); */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.mat-toolbar-row,
.mat-toolbar-single-row {
    height: 90px;
    background-color: #E9B824;
    color: black;
    font-size: 35px;
    font-family: monospace;
}

.add-button {
    margin-left: 340px;
    background-color: #ff5454;
}

.mdc-dialog--open .mdc-dialog__container {
    width: 400px;
}